<head>
    <link rel="stylesheet" href="./inbox.component.css"/>


</head>
<body>
<div class="notification" (click)="show()">
    <span>Inbox</span>
    <span class="badge">2</span>
</div>
<div id="msgs" >
    <div class="text"><p> to learn programming. It is an educational
        website.Prepare for the Recruitment drive
        of product based companies like Microsoft,
        Amazon, Adobe etc with
        a free online placement preparation course.
        geeks by writing articles on the GeeksforGeeks,
        publishing articles follow few steps that are
        are a beginner, you may refer Guidelines
        to write an Article </p></div>
    <button (click)="closing()">Close</button>
</div>
  </body>
